<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>


  
  <body>
    <div class="profile-container">
        <img class="profile-image" src="https://i.scdn.co/image/ab67616100005174650a498358171e1990efeeff" alt="Imagen de perfil" onclick="mostrarAlerta()">
        <div class="profile-details">
            <div class="name">Jorge Calderon Macancela</div>
            <div class="email">JorgeCalderon@email.com</div>
            <a href="http://localhost:8100/views"><button id="profile-button">Seguir</button></a>
            
        </div>
        
    </div>

    <div class="post">
        <img class="post-image" src="https://i.ytimg.com/vi/9QsdCXf1ww8/sddefault.jpg" alt="Publicación">
    </div>

    <div class="message-form">
        <h3>Conversa Conmigo</h3>
        <form>
            <textarea name="message" id="message" placeholder="Escribe tu mensaje aquí" rows="4"></textarea>
            <button class="http://localhost:8100/views" type="submit">Enviar Mensaje</button>
        </form>
    </div>


</body>



</ion-content>
